@page "/"

@*
    사람 / @Icons.Filled.AccessibilityNew
    사람 / @Icons.Filled.AssignmentInd
    스패너 / @Icons.Filled.Construction
    스패너 / @Icons.Filled.Build
*@
<br />
<MudPaper Class="pa-2 ma-1" Outlined="true">
    <MudCarousel TData="object" Style="height:200px;" ShowArrows="@arrows" ShowDelimiters="@delimiters" AutoCycle="@autocycle">
            <MudCarouselItem Transition="transition"  Color="@Color.Primary">
                 <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                     <MudIcon Class="mx-auto" Icon="@Icons.Filled.AccessibilityNew" Size="@Size.Large" />
                     <MudText Align="@Align.Center" Class="mx-auto">사람</MudText>
                </div>
            </MudCarouselItem>
         
        <MudCarouselItem Transition="transition" Color="@Color.Secondary">
            <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                <MudIcon Class="mx-auto" Icon="@Icons.Filled.Construction" Size="@Size.Large" />
                <MudText Align="@Align.Center" Class="mx-auto">품질</MudText>
            </div>
        </MudCarouselItem>
        <MudCarouselItem Transition="transition" Color="@Color.Info">
            <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                <MudIcon Class="mx-auto" Icon="@Icons.Filled.AccessTime"  Size="@Size.Large" />
                <MudText Align="@Align.Center" Class="mx-auto">정직</MudText>
            </div>
        </MudCarouselItem>
    </MudCarousel>
</MudPaper>
<br />

<MudPaper Class="pa-6 ma-3" Outlined="true">
    <MudTimeline>
        <MudTimelineItem Color="Color.Warning" Size="Size.Small">
            <ItemOpposite>
                <MudText Color="Color.Warning" Typo="Typo.h5">1979</MudText>
            </ItemOpposite>
            <ItemContent>
                <MudText Color="Color.Warning" Typo="Typo.h6" GutterBottom="true">설립</MudText>
                <MudText>삼현요업(주) 설립(대표이사 정기환 취임)</MudText>
            </ItemContent>
        </MudTimelineItem>
        <MudTimelineItem Color="Color.Info" Size="Size.Small">
            <ItemOpposite>
                <MudText Color="Color.Info" Typo="Typo.h5">2000</MudText>
            </ItemOpposite>
            <ItemContent>
                <MudText Align="@Align.Right" Color="Color.Info" Typo="Typo.h6" GutterBottom="true">국내최초</MudText>
                <MudText Align="@Align.Right">
                    <p>대형 Rotocolor 설비 및 Laser Lab 도입</p>
                    <p>국내최초 대형 타일 생산</p>
                </MudText>
            </ItemContent>
        </MudTimelineItem>
        <MudTimelineItem Color="Color.Success" Size="Size.Small">
            <ItemOpposite>
                <MudText Color="Color.Success" Typo="Typo.h5">2004</MudText>
            </ItemOpposite>
            <ItemContent>
                <MudText  Color="Color.Success" Typo="Typo.h6" GutterBottom="true">스마트</MudText>
                <MudText>
                    <p>전 사업장 및 생산현장 ERP 시스템</p>
                    <p>POP/MES 시스템 구축</p>
                </MudText>
            </ItemContent>
        </MudTimelineItem>
        <MudTimelineItem Color="Color.Error" Size="Size.Small">
            <ItemOpposite>
                <MudText Color="Color.Error" Typo="Typo.h5">2013</MudText>
            </ItemOpposite>
            <ItemContent>
                <MudText Align="@Align.Right" Color="Color.Error" Typo="Typo.h6" GutterBottom="true">도약</MudText>
                <MudText Align="@Align.Right">매출액 522억 달성</MudText>
            </ItemContent>
        </MudTimelineItem>
    </MudTimeline>
</MudPaper>

@code{
    bool arrows = true;
    bool delimiters = true;
    bool autocycle = true;

    Transition transition = Transition.Slide;
    
}
